h1 {
    margin-left: 200px;
}

h3 {
    margin-left:100px;
}

.Brand {
    border-top: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: black;
    margin:auto;
}

#Wirtgen {
    background-color: #D1D3D4;
}

#Vogele {
    background-color: #7FC1A5;
}

#Hamm {
    background-color: #FFAD7F;
}

#Kleemann {
    background-color: #7F98DC;
}